body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }

  body ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  header {
      display: flex;
      background-image: url(../img/bg-web.jpg);
      background-position: top right;
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  header .cabecera {
    background-color: #db5461;
    padding: 5rem 0 16rem 5rem;
    clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
    width: 55vw;
  }

  .cabecera img {
      padding-bottom: 10rem;
  }
  
  .cabecera h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 3.1rem;
    letter-spacing: .2rem;
    margin-bottom: 4rem;
    max-width: 85%;
  }
  
  h1 span,
  #menu li a, #menu-burger li a {
    color: #30343f;
    font-weight: 900;
    text-decoration: none;
  }

    button {
      padding: .8rem 1.5rem;
      background-color: #fff;
      border: .25rem solid #30343f;
      border-radius: 50rem;
      color: #30343f;
      font-weight: 700;
      font-size: 1.1rem;
      letter-spacing: .08rem;
      box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
      -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
      -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
  }

    button:hover {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
      transition: .8s ease;
  }

  header .menu-desktop {
      display: flex;
      justify-content: flex-end;
      width: 40vw;
  }
  
  #menu {
    display: flex;
    justify-content: space-around;
    width: 27.85rem;
    max-height: 1.3rem;
    padding: .6rem 1.8rem;
    margin: 5rem 2rem 0 0;
    background-color: #fff;
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.57);
  }

  #menu li a:hover, #menu-burger li a:hover {
    color: #db5461;
    transition: .8s ease;
  }

  .menu-mobile {
      display: none;
  }

  footer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 2rem 0;
      color: #ffffff;
      background-color: #30343f;
  }

  footer .column {
      display: flex;
      align-items: center;
      width: 17.06rem;

  }

  footer img {
      height: 3.5rem;
      margin-right: 1rem;
  }

  footer p {
      font-weight: 300;
  }

  footer .bold-text {
      font-size: 1.2rem;
      font-weight: 700;
  }

  /* MEDIA QUERY */
  @media only screen and (max-width:1245px) {
    header {
        background-size: cover;  
    }
  }

  @media only screen and (max-width:990px) {
    header .cabecera {
        padding-left: 2rem;
    }
    .cabecera h1 {
        font-size: 2.2rem;
        max-width: 75%;
    }
    .cabecera button {
        font-size: .9rem;
    }
    #menu {
        font-size: .8rem;
        height: 1.1rem;
    }
  }

  @media only screen and (max-width:815px) {
    header .cabecera {
        width: 116vw;
    }
    .cabecera h1 {
        font-size: 1.8rem;
    }
    .cabecera button {
        font-size: .8rem;
    }
    header .menu-desktop {
        display: none;
    }
    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .menu-mobile input {
        display: none;
    }
    .menu-mobile .btn-burger {
        margin: 5rem 2rem 0 0;
    }
    .menu-mobile i {
        font-family: 'FontAwesome';
        font-style: normal;
        font-size: 1.2rem;
        color: #db5461;
        background-color: #fff;
        padding: .4rem;
        border-radius: .4rem;
    }
    .menu-mobile #menu-burger {
        position: absolute;
        right: 0;
        top: 7rem;
        height: 14vh;
        width: 0;
        overflow: hidden;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0%, 100% 99%, 18% 100%);
        transition: ease-out .2s;
        z-index: 100;
    }
    .menu-mobile #menu-burger>li {
        margin-bottom: 1rem;
    }
    #btn-burger:checked ~ .activo {
        width: 15vw;
        padding: 2rem;
        transition: ease-in .5s;
        -webkit-box-shadow: -22px 5px 20px -19px rgba(0,0,0,0.52);
        -moz-box-shadow: -22px 5px 20px -19px rgba(0,0,0,0.52);
        box-shadow: -22px 5px 20px -19px rgba(0,0,0,0.52);
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer .column:not(:last-of-type) {
        margin-bottom: 2rem;
    }
  }
  @media only screen and (max-width:430px) {
    .cabecera img {
        width: 60%;
    }
    .cabecera h1 {
        font-size: 1.3rem;
    }
    .cabecera button {
        font-size: .6rem;
        padding: .6rem 1rem;
        border-width: .2rem;
    }
  }